[submodule "nvim-Abstract"]
	path = nvim-Abstract
	url = git@github.com:Abstract-IDE/Abstract.git
  ignore = dirty
[submodule "vim-AstroNvimPlus"]
	path = vim-AstroNvimPlus
	url = git@github.com:AstroNvim/AstroNvim.git
  ignore = dirty
[submodule "nvim-AstroNvimPlus"]
	path = nvim-AstroNvimPlus
	url = git@github.com:AstroNvim/AstroNvim.git
  ignore = dirty
[submodule "nvim-BasicIde"]
	path = nvim-BasicIde
	url = git@github.com:archwine/nvim-basic-ide.git
  ignore = dirty
[submodule "nvim-Ecovim"]
	path = nvim-Ecovim
	url = git@github.com:pze/ecovim
  ignore = dirty
[submodule "nvim-Lazyman"]
	path = nvim-Lazyman
	url = git@github.com:doctorfree/nvim-lazyman.git
  ignore = dirty
[submodule "nvim-LunarVim"]
	path = nvim-LunarVim
	url = git@github.com:LunarVim/LunarVim.git
  ignore = dirty
[submodule "nvim-MagicVim"]
	path = nvim-MagicVim
	url = git@github.com:jameshiew/nvim-magic.git
  ignore = dirty
[submodule "nvim-AstroNvimPlus"]
	path = nvim-AstroNvimPlus
	url = git@github.com:AstroNvim/AstroNvim.git
  ignore = dirty
[submodule "vim-MagicVim"]
	path = vim-MagicVim
	url = git@github.com:jameshiew/nvim-magic.git
  ignore = dirty
[submodule "nvim-NvChad"]
	path = nvim-NvChad
	url = git@github.com:NvChad/NvChad.git
  ignore = dirty
[submodule "nvim-SpaceVim"]
	path = nvim-SpaceVim
	url = git@github.com:SpaceVim/SpaceVim.git
  ignore = dirty
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
  ignore = dirty
[submodule "tmux/plugins/tmux-powerline"]
	path = tmux/plugins/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
  ignore = dirty
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
  ignore = dirty
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible
  ignore = dirty
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
  ignore = dirty
[submodule "tmux/plugins/tmux.nvim"]
	path = tmux/plugins/tmux.nvim
	url = git@github.com:aserowy/tmux.nvim.git
